{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}"/>
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css' %}"/>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <br>

    {% include 'header.html' %}

    <br>
    <main>
        <h1>{{ "very good!!" | check:"2024-01-05" }}</h1>
        <br>
        <br>

        <h1>Current Date and Time</h1>
        <h2>Right now: {% current_datetime "%Y-%m-%d %H:%M:%S" %}</h2>
        <br>
        <br>


        <h2>사업자 번호 확인</h2>
        <h2>{{ "" |checkNum }}</h2>


        {% block content %}
        <!-- 기본 콘텐츠 -->
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>

        {% endblock %}
    </main>
    <br>
    <!-- 푸터 -->
    {% include 'footer2.html' %}

</body>
</html>